<%- model_class = Quusome -%>



<div class="row-fluid">
  <span class="span3 well">11</span>
  <span class="span3 well">11</span>
  <span class="span3 well">11</span>
  <span class="span3 well">11</span>
  <span class="span3 well">11</span>

</div>



